
.related-company li{float:left; width:30%; margin-right:2%;}
.left_half_division{float:left; width:45%;margin-right:4%;}
.right_half_division{float:right; width:45%;margin-left:4%;}
ul.company-icon-array{margin:0;}
.company-icon-array li{list-style:none;float:left;width:18%; margin:1%;text-align: center;-webkit-border-radius: 10px;border-radius: 10px;height: 200px;
  padding:1em;}
.company-icon-array li img{padding-bottom:1em;}
.company-icon-array li img:hover{-moz-transform: scale(1.15);-webkit-transform: scale(1.15);-o-transform: scale(1.15);-ms-transform: scale(1.15);transform: scale(1.15);}

@media screen and (max-width:725px){ 
.company-icon-array li{list-style:none;float:left;width:23%; margin:1%;text-align: center;-webkit-border-radius: 10px;border-radius: 10px;height: 200px;
  padding:1em;}
 .related-company li{float:left; width:47%; margin-right:2%;} 
}
@media screen and (max-width:600px){ 
.company-icon-array li{list-style:none;float:left;width:31%; margin:1%;text-align: center;-webkit-border-radius: 10px;border-radius: 10px;height: 200px;
  padding:1em;}
 .left_half_division{float:left; width:90%;margin:1em 5%;}
.right_half_division{float:left; width:90%;margin:1em 5%;} 
}
@media screen and (max-width:450px){ 
.company-icon-array li{list-style:none;float:left;width:48%; margin:1%;text-align: center;-webkit-border-radius: 10px;border-radius: 10px;height: 200px;
  padding:1em;}
}
@media screen and (max-width:350px){ 
.company-icon-array li{list-style:none;float:left;width:98%; margin:1%;text-align: center;-webkit-border-radius: 10px;border-radius: 10px;height: 200px;
  padding:1em;}
}
 /*--- see: https://codepen.io/bluehaus/pen/EfGyi ---*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;  animation:fadeIn ease-in 1; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;/*---nsets the default duration ---*/
  -webkit-animation-duration:1s; -moz-animation-duration:1s; animation-duration:1s;}
.fade-in.quarter {-webkit-animation-delay: 0.05s; -moz-animation-delay: 0.05s; animation-delay: 0.05s; }  
.fade-in.half {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; }
.fade-in.full {-webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s; animation-delay: 1.25s;}

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {cursor: pointer;padding:.5em 1em .15em 1em;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;-webkit-border-radius: 10px;
border-radius: 10px;}
button.accordion {-webkit-box-shadow: 0 0 0 0 transparent;box-shadow: 0 0 0 0 transparent;text-shadow: 0 0 0 transparent;font-size:1em;
	background:$whiteColor; color:$blackColor;border:solid 1px $blackColor;font-weight: bold;}
.accordion:hover{text-decoration: none;}
.accordion:after {font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f0d7"; font-size:1.5em;float: right;}
.accordion.active:after {font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f0de"; font-size:1.5em;float: right;}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: $blackColor; color:$whiteColor;
}
/* Style the accordion panel. Note: hidden by default */
.panel {padding: 1em 2em;background-color:$whiteColor;display: none;overflow: hidden;transition: max-height 0.9s ease-out;} 